# Ignore files directly inside data/
data/*

# But keep these folders
!data/raw/
!data/cleaned/

# Ignore contents of raw and cleaned
data/raw/*
data/cleaned/*

# But keep placeholders
!data/raw/.gitkeep
!data/cleaned/.gitkeep

# Outputs folder
outputs/*
!outputs/.gitkeep

.ipynb_checkpoints/
__pycache__/
*.pyc